@font-face {
  font-family: '1898 Sans';
  src: url('./fonts/1898Sans-Regular.otf') format('opentype');
  font-weight: normal;
}
@font-face {
  font-family: '1898 Sans';
  src: url('./fonts/1898Sans-Bold.otf') format('opentype');
  font-weight: bold;
}

.worldquant-logo {
  width: 378px;
  max-width: 100%;
}

.top-header, .bottom-header, .world-quant-footer {
  font-family: '1898 Sans', sans-serif;
  color: #FFFFFF;
  font-weight: bold;
}

.top-header img {
  margin: 55px 0;
}

.top-header p {
  margin-bottom: 55px;
  font-size: 3em;
  line-height: 1.2em;
}

.bottom-header {
  padding: 100px 0;
}

.bottom-header p {
  font-size: 1.2em;
}

.world-quant-footer {
  margin-top: 2em;
  background-color: #000000;
}

.footer-wrapper {
  padding-top: 80px;
  padding-bottom: 20px;
}

.world-quant-footer p {
  margin-top: 20px;
  text-align: right;
  text-transform: uppercase;
}

@media screen and (max-width: 320px) {
  .top-header img {
    margin: 20px 0;
  }
  .top-header p {
    margin-bottom: 20px;
    font-size: 1.5em;
  }
  .footer-wrapper {
    padding: 12px 15px 5px 15px;
  }
}
