.node {
  stroke: none;
  opacity: 0.8;
}

.node.on {
  opacity: 1;
}

.link {
  opacity: .3;
}

.link.on {
  opacity: .9;
}

.taxonomy-tooltip {
  position: absolute;
  pointer-events: none;
  padding: 10px;
  background: #EEEEEE;
  border-radius: 5px;
}

.taxonomy-tooltip span {
  font-weight: 600;
  display: block;
}
