ul.scatter-controls-categories {
  margin: 0 0 0 10px;
  padding: 0;
  list-style: none;
}

ul.scatter-controls-categories li {
  margin: 5px 0;
  cursor: pointer;
  color: #888888;
}

ul.scatter-controls-categories li:hover {
  color: #333333;
}

ul.scatter-controls-categories li span {
  width: 1em;
  height: 1em;
  display: inline-block;
  margin-right: 5px;
}
